<section class="experience" id="experience">
  <p class="section-title">{{ 'experience.subtitle' | translate }}</p>
  <h2>{{ 'experience.title' | translate }}</h2>

  <div class="timeline">
    <div class="item" *ngFor="let exp of experiences; let last = last">
      <div class="line" [class.last]="last"></div>
      <div class="dot"></div>
      <div class="card">
        <div class="card-header">
          <div class="card-info">
            <h3>{{ exp.role | translate }}</h3>
            <span class="company">{{ exp.company }}</span>
            <span class="location">{{ exp.location }}</span>
          </div>
          <div class="right">
            <span class="period">{{ exp.periodKey | translate }}</span>
            <span class="badge">{{ exp.type | translate }}</span>
          </div>
        </div>
        <ul>
          <li *ngFor="let point of exp.description">
            {{ point | translate }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>